/* INICIANDO MEU PRIMEIRO ARQUIVO CSS*/

body {
  margin: auto;    
  color:#444; 
  min-height: 40vh;       
}

html * {
  box-sizing: content-box;
}

html, body {
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 90vh;
  min-width: 100px;
}

html {
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 650px;
  min-width: 450px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 0px;
  display: block;
}

.destaque {
  color: red;   
}

a.destaque {
  color: blue;
  text-align: center;
  font-family: sans-serif;
}

b.destaque {
  color:aqua;
}

.profile {
  width: 100%;
  height: 35px;        
  border-radius: 24px;
  margin: auto;   
  background-color: #FFFFFF;
}

.box__avatar {
  margin-top: 0px;
  max-width: 650px;
  min-width: 650px;
  min-height: 152px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.profile__header img {
  width: 200px;
  height: 200px;    
  border-radius: 100%;
  display: block;
  margin-top: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
}

.profile__header h2 {
  font-weight: 550;
}

.profile__header h1, .profile__header h2 {
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  color:#210404;
}

.profile__header {
  max-width: 150px;
  height: 35px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.center {
  text-align: center;
  font-family: sans-serif;
  min-height: 30px;
  max-width: 342px;
  min-width: fit-contents;
  height: 40px;
  display: flex;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.center p {
  word-wrap: break-word;
  margin: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
}

.profile__about {
  margin: 20px;
  text-align: justify;
  font-family: sans-serif;
  color:#210404
}

.profile__about div { 
  padding: 1px; 
  margin: 1px;       
}

.profile__about .destaque {
  color: white;
}

.links ol {
  max-width: 350px;
    display: block;
    list-style: none;
    padding: 0 168px;
    min-width: 115px;
}

.links a {
  display: flex;
  height:40px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 35px;
  text-decoration: none;
  padding: 0 24px;
  align-items: center;
  justify-content: justify;
  margin-bottom: 16px;
  color:#444;
  font-weight: 600;
  font-family: sans-serif; 
  font-size: 18px;
}

.links__item {
  width: 100%;
  text-align: center;
  color:#210404
}

.links a:hover {
  border:solid#fff 1px;
  color:#fff;
  background-color:blueviolet;
}

.containerA {
  max-width: 650px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerB {
  max-height: fit-content;
  max-width: 350px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerC {
  max-height: fit-content;
  max-width: 350px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button {
  width: 40%;
  height: 100px;
  color: #210404;
  text-align: right;
  font-family: sans-serif;
  color:#210404
}

input {
  width: 40%;
  height: 25px;
  background-color: #FFFFFF;
  color: #210404;
  font-size: 1rem;
  border: 0;
  border-radius: 35px;    
  text-align: center;
  margin: 0 4px;
}

input:disabled {
  background-color: #FFFFFF;  
}

button {
  width: 40%;
  height: 25px;
  background-color: #FFFFFF;
  color:#210404;
  font-size: 1rem;
  border: 0;
  border-radius: 35px;
  cursor: pointer;
  transition: background .25s ease-in-out;
}

button:hover {
  border:solid#fff 1px;
  color:#fff;
  background-color:blueviolet;
}